<h2>Technology Scrape articles</h2>
<ul>
    {{#each data}}
    <li>
        <p>Title: {{this.title}}</p>
        <p>Link: {{this.link}}</p>
        <p>Excerpt: {{this.excerpt}}</p>
    </li>
    <br>
    {{/each}}
</ul>