<div class="container">
    <div class="card">
        <h2>Saved articles</h2>
        <div class="card-body article">
            {{#each data}}
            <div class="card container">
                <div class='row'>
                    <div class='col-8 saveTitle'>

                        <a href="{this.link}}" target="_blank">link to article</a>
                        <h6> {{this.excerpt}}</h6>
                    </div>
                    <div class='col-4  align-self-center'>
                        <button type="button" class="btn btn-primary saveArticle ">Save</button>
                    </div>
                </div>
            </div>

            <br>
            {{/each}}

        </div>
    </div>
</div>